@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@keyframes nextButtonAnimation {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(30%);
    }
}

@keyframes backButtonAnimation {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-30%);
    }
}

@keyframes repeatButtonAnimation {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

* {
    margin: 0;
    padding: 0;
}

:root {
    --color-green-primary: #264653;
    --color-gray-primary: #e5e5e5;
    --color-gray-secondary: #adb5bd;
}

body {
    background-color: var(--color-gray-primary);
    font-family: 'Lato', sans-serif;
    color: var(--color-green-primary);
    font-size: 1rem;
}

h1 {
    font-size: 500%;
    font-weight: 400;
}

h2 {
    font-size: 500%;
    font-weight: 400;
    margin-bottom: 2rem;
}

section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

section div {
    display: flex;
    flex-direction: column;
    min-height: 90vh;
    width: 90vw;
}

section div p {
    margin-bottom: 4rem;
}


section#main, section#results {
    background-color: var(--color-green-primary);
    color: var(--color-gray-primary);
}

section#main p {
    font-size: 120%;
}

section a {
    position: absolute;
    cursor: pointer;
    padding: 1.5rem;
    top: 90vh;
    transition: .5s;
}

section a.next {
    left: 90vw;
}

section a.back {
    right: 90vw;
}

i.fa-long-arrow-right {
    margin-left: 10px;
    animation: nextButtonAnimation 2s infinite alternate;
}

i.fa-long-arrow-left {
    margin-right: 10px;
    animation: backButtonAnimation 2s infinite alternate;
}

i.fa-repeat {
    margin-right: 10px;
    animation: repeatButtonAnimation 8s infinite alternate-reverse;;
}

.hidden {
    display: none;
}

form {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    margin-bottom: .5rem;
}

form [type] {
    width: 40vw;
    padding: 1rem;
    border: 1px var(--color-gray-secondary) solid;
    border-radius: 4px;
    transition: .5s;
    margin-bottom: 1rem;
}

form [type]:focus {
    outline: none;
    border: 1px var(--color-green-primary) solid;
}

/********************************************************************/

